@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Open Sans";
    src: url("../../public/assets/fonts/OpenSans.ttf");
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    @apply min-w-fit;
}

hr {
    @apply hidden lg:block mx-24 mb-6 border-gray;
}

.hover-scale {
    @apply transform-gpu transition hover:scale-110;
}